<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>org.saurav.cmisbridge</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
		<listener-class>org.saurav.cmisbridge.CmisBridgeServiceListener</listener-class>
	</listener>
  <servlet>
		<servlet-name>CMIS_Browser</servlet-name>
		<servlet-class>org.apache.chemistry.opencmis.server.impl.browser.CmisBrowserBindingServlet</servlet-class>
		
	</servlet>
	<servlet-mapping>
		<servlet-name>CMIS_Browser</servlet-name>
		
		<url-pattern>/browser/*</url-pattern>
		
	</servlet-mapping>
</web-app>